@import "bootstrap/scss/bootstrap";
// Variables de Bootstrap (opcional)
$theme-colors: (
  "primary": #007bff,
  "secondary": #6c757d,
  "success": #198754,
  "success-light": rgba($success, 0.5),
  "danger": #dc3545,
  "warning": #ffc107,
  "warning-light": rgba($warning, 0.5),
  "info": #0d6efd,
  "light": #f8f9fa,
  "dark": #212529,
);

body {
  font-family: "Lato", sans-serif;
}

.bg-success-light {
  background-color: rgba($success, 0.5);
}

.bg-warning-light {
  background-color: rgba($warning, 0.5);
}

button,
option,
.btn {
  font-family: "Montserrat", sans-serif !important;
}

.aberto a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #212529;
}
.link:hover {
  color: rgb(21, 96, 130);
  padding-left: 0.5rem;
}
